

.btnBanner{
    font-size: 28px;
    padding:13px 0;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    &:hover{
        background:#FFFFFF4D;
    }
}

.btnContent{
    color:#000000;
    border: 2px solid #000000;
    border-radius: 30px;
    &:hover{
        background:#000000;
        color:#ffffff;
    }
}

.btnSubscribe{
    height:3.75rem;
}