.navlist{
    a{
        color:#8D8D8D;
        position: relative;  
        &::after{
            content:'';
            width: 0;
            height: 2px;
            position: absolute;
            display: block;
            background-color: #AC8A46;  
            transition: all 0.5s;            
        }        
        &:hover{
            color:#916019;
            &::after{
                width:100%
            }
           
        }                     
    }
}

@include media-breakpoint-down(md) { 
    .navlist{
    li{
       background-color:#707070;
       border-bottom:1px solid #fff;
      }
      a{
        color:#fff;
      }
    }
 }