<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  <div class="container-lg px-0">
    <nav class="navbar navbar-expand-lg navbar-light">
      <h1 class="pl-3 pl-md-0 py-3 py-md-0">
        <a class="textHide logoSize logoPic" href="index.html">d’Perfume</a>
      </h1>
      <div class="d-flex align-items-center "> 
        <div class="d-md-none mr-m">
          <a href=""><span class="material-icons text-secondary align-bottom">
            shopping_cart
            </span></a>
        </div>
        
        <button class="navbar-toggler mr-3 border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-secondary"></span>
        </button>
      </div>  
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 ml-auto navlist">
          <li class="nav-item ml-md-5 text-md-center">
            <a class="fz-4 lh-sm SF-Re py-3 text-center" href="product.html"><span class="material-icons align-bottom d-none d-md-inline  mr-1">
                store
              </span>Product</a>
          </li>
          <li class="nav-item ml-md-5 ">
            <a class="fz-4 lh-sm SF-Re py-3 text-center" href="login.html"><span class="material-icons align-bottom d-none d-md-inline mr-1 ">
                person
              </span>Log in</a>
          </li>
          <li class="nav-item ml-md-5 ">
            <a class="fz-4 lh-sm SF-Re py-3 text-center" href=""><span class="material-icons align-bottom d-none d-md-inline mr-1 ">
                favorite
              </span>Wishlist</a>
          </li>
          <li class="nav-item ml-md-5 ">
            <a class="fz-4 lh-sm SF-Re py-3 text-center" href=""><span class="material-icons align-bottom d-none d-md-inline mr-1 ">
                shopping_cart
              </span>Cart(3)</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <%- contents %>

 
  <div class="footer bg-primary">
    <div class="container-lg px-0">
      <div class=" d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center px-3 px-md-0 justify-content-between w-100 ">
          <h2 class="mr-l"><a class="logoPic-white textHide logoSize" href=""></a></h2>
          <p class="lh-sm fz-sm text-white py-5 d-block ">© 2020. All Rights Reserved.</p>
        </div>
        <div class="d-none d-md-block">
          <ul class="d-flex footerList align-items-center justify-content-between">
            <li class="ml-5 text-white"><a class="fz-4 lh-sm SF-Re " href="">Product</a></li>
            <li class="ml-5"><a class="fz-4 lh-sm SF-Re " href="">Blog</a></li>
            <li class="ml-5"> <a class="fz-4 lh-sm SF-Re" href="">contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


    </div>
  </div>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>