a:hover, a:focus {
    text-decoration: none;
    
}

a{
    display: block;
}

ol, ul {
    list-style: none;
    padding:0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    line-height: 1.5;
}

label{
    color:$memberText
}

.btn{
    border-radius: 2px;
}

